.simpleBannerGrid {
    padding: 60px $containerSpacing;

    @media (max-width: $mobile) {
        padding: 30px 0;
    }

    &Title {
        .heading {
            max-width: 500px;

            @media (max-width: $mobile) {
                font-size: 32px;
                text-align: center;
                padding: 0 20px;
                width: 100%;
            }
        }
    }
    &Container {
        display: flex;
        gap: 15px;

        @media (max-width: $mobile) {
            overflow: scroll;
        }
    }

    &Item {
        border: 3px solid $color-black;
        border-radius: 20px;
        padding: 15px;
        width: calc((100% - 45px) / 4);
        position: relative;

        @media (max-width: $mobile) {
            width: 260px;
            flex-shrink: 0;
            padding: 10px;

            &:first-child {
                margin-left: 15px;
            }
            &:last-child {
                margin-right: 15px;
            }
        }

        &Title {
            position: absolute;
            width: calc(100% - 30px);
            height: calc(100% - 30px);
            top: 15px;
            left: 15px;
            border-radius: 20px;
            padding: 30px 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            color: white;

            @media (max-width: $mobile) {
                top: 10px;
                left: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                padding: 20px;
            }

            &Title {
                font-size: 40px;
                margin: 0;

                @media (max-width: $mobile) {
                    font-size: 18px;
                }
            }
            &Text {
                max-width: 80%;
                font-size: 16px;

                @media (max-width: $mobile) {
                    max-width: 100%;
                    font-size: 14px;
                }
            }
        }

        &Image {
            border-radius: 20px;
        }
    }
}